{% extends '@Application/Default/index.html.twig' %}

{% block title %}
    <title>Moneytoring - Aide</title>
{% endblock %}

{% block link %}
    <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Accueil">
            <a class="nav-link" href="{{ path('application_homepage') }}">
                <i class="fa fa-fw fa-home"></i>
                <span class="nav-link-text">Accueil</span>
            </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Partionner">
            <a class="nav-link" href="{{ path('partition') }}">
                <i class="fa fa-fw fa-eye"></i>
                <span class="nav-link-text">Partitionner</span>
            </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Simulateur">
            <a class="nav-link" href="{{ path('simulation') }}">
                <i class="fa fa-fw fa-area-chart"></i>
                <span class="nav-link-text">Simulateur</span>
            </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Entrer mouvement">
            <a class="nav-link" href="{{ path('entrerMouvement') }}">
                <i class="fa fa-fw fa-table"></i>
                <span class="nav-link-text">Entrer mouvement</span>
            </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Modifier mouvement">
            <a class="nav-link" href="{{ path('modifierMouvement') }}">
                <i class="fa fa-fw fa-table"></i>
                <span class="nav-link-text">Modifier mouvement</span>
            </a>
        </li>
        <li class="nav-item active" data-toggle="tooltip" data-placement="right" title="Aide">
            <a class="nav-link" href="{{ path('aide') }}">
                <i class="fa fa-fw fa-coffee"></i>
                <span class="nav-link-text"><b>Aide</b></span>
            </a>
        </li>
    </ul>
{% endblock %}

{% block body %}
    <style>
        h1
        {
            margin-top: 50px;
            margin-left: -50px;
        }

        p{
            margin-top: 120px;
            margin-left: -510px;
        }

        h2
        {
            margin-top: 250px;
            margin-left: -490px;
        }

        p1{
            margin-top: 300px;
            margin-left: -620px;
        }
    </style>

    <h1>Vos questions, nos réponses...</h1><br>

    <p>
        <a href="/pictures/Graphique.png" onclick="window.open(this.href,'nom fenêtre', 'height=300, width=400'); return(false);">Je veux changer mon mot de passe, comment faire ?</a>
        <br>
        <a href="/pictures/Graphique.png" onclick="window.open(this.href,'nom fenêtre', 'height=300, width=400'); return(false);">Je veux changer mon adresse email, comment faire ?</a>
        <br>
        <a href="/pictures/Graphique.png" onclick="window.open(this.href,'nom fenêtre', 'height=300, width=400'); return(false);">Votre application ne m'intéresse plus, comment faire ?</a>
        <br>
        <a href="/pictures/Graphique.png" onclick="window.open(this.href,'nom fenêtre', 'height=300, width=400'); return(false);">Je suis daltonien je ne vois pas bien les couleurs, comment faire ?</a>
        <br>
    </p>

    <h2>Vous rencontrez des problèmes techniques ?</h2>

    <p1>
        <a href="https://github.com/julien-guillan/MONEYTORING/issues" onclick="window.open(this.href,'nom fenêtre', 'height=500, width=700'); return(false);">Contactez-nous ou signalez-nous un bug !</a>
        <br>
    </p1>

{% endblock %}
