{% extends "@Application/Default/template.html.twig" %}
{% block body %}

    <div class="container">
        <div class="form-signin" id="form">
            <img src="{{ asset('pictures/logo1texte.PNG') }}" class="img-fluid" >
            <h2 class="form-signin-heading">Connexion</h2>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}

            {{ utilisateur.email }}
        </div>
    </div>
{%  endblock %}
