<h1>Utilisateur :</h1>
<p><b>Email : </p></b>{{ utilisateur.email }}</p>
<p><b>Mot de passe : </p></b>{{ utilisateur.MotDePasse }}</p>

{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}