<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('css/sb-admin.css') }}" rel="stylesheet">
    <script src="{{ asset('js/Chart.bundle.js') }}"></script>
    <script src="{{ asset('js/utils.js') }}"></script>
    <style>
        canvas {
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }
        body {
            padding-top: 60px;
        }
    </style>

    {% block title %}

    <title>Moneytoring - Accueil</title>

    {% endblock %}
</head>

{% if error == "ConnexionNeeded" %}
    <div class="alert alert-danger">ACCES REFUSE. VEUILLEZ-VOUS CONNECTER</div>

{% else %}

<body class="fixed-nav sticky-footer bg-dark" id="page-top">

<!-- NAVIGATION-->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="#">Bonjour {{ prenom }}</a><br>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <img class="img-fluid" src="pictures/logo1texte.PNG" alt="Logo appli" width="280" height="61"/>
    <div class="collapse navbar-collapse" id="navbarResponsive">

        {% block link %}

        <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
            <li class="nav-item active" data-toggle="tooltip" data-placement="right" title="Accueil">
                <a class="nav-link" href="{{ path('application_homepage') }}">
                    <i class="fa fa-fw fa-home"></i>
                    <span class="nav-link-text"><b>Accueil</b></span>
                </a>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Partionner">
                <a class="nav-link" href="{{ path('partition') }}">
                    <i class="fa fa-fw fa-eye"></i>
                    <span class="nav-link-text">Partitionner</span>
                </a>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Simulateur">
                <a class="nav-link" href="{{ path('simulation') }}">
                    <i class="fa fa-fw fa-area-chart"></i>
                    <span class="nav-link-text">Simulateur</span>
                </a>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Entrer mouvement">
                <a class="nav-link" href="{{ path('entrerMouvement') }}">
                    <i class="fa fa-fw fa-table"></i>
                    <span class="nav-link-text">Entrer mouvement</span>
                </a>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Modifier mouvement">
                <a class="nav-link" href="{{ path('modifierMouvement') }}">
                    <i class="fa fa-fw fa-table"></i>
                    <span class="nav-link-text">Modifier mouvement</span>
                </a>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Aide">
                <a class="nav-link" href="{{ path('aide') }}">
                    <i class="fa fa-fw fa-coffee"></i>
                    <span class="nav-link-text">Aide</span>
                </a>
            </li>
        </ul>

        {% endblock %}

        <ul class="navbar-nav sidenav-toggler">
            <li class="nav-item">
                <a class="nav-link text-center" id="sidenavToggler">
                    <i class="fa fa-fw fa-angle-left"></i>
                </a>
            </li>
        </ul>

        {% block link2 %}

        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('parametres') }}">
                    <i class="fa fa-fw fa-bookmark"></i>Paramètres utilisateur<br>
                </a>
                <a class="nav-link" href="{{ path('deconnexion') }}">
                    <i class="fa fa-fw fa-sign-out"></i>Déconnexion
                </a>
            </li>
        </ul>

        {% endblock %}

    </div>
</nav>

<!-- CONTENU -->
{% if error == "nullBudget" %}
  <div class="alert alert-danger">
    ATTENTION VOTRE BUDGET A ETE DEPASSE.
  </div>
{% endif %}

<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-1">
        </div>
        {% block body %}

    <div class="container-fluid">
        <div class="col-lg-10">
        <div id="canvas-holder" style="width:60%">
            <canvas id="chart-area" />
        </div>

        <script>
            var config = {
                type: 'doughnut',
                data: {
                    datasets: [{
                        data: [
                            {% for value in montant %}
                              {{ value }},
                            {% endfor %}
                            {{ budgetRestant }}


                        ],
                        backgroundColor: [

                            {% for partition in fractions %}
                              window.chartColors.{{ partition.couleur }},
                            {% endfor %}
                        ],
                        label: 'Dataset 1'
                    }],
                    labels: [
                      {% if fractions != null %}
                      {% for partition in fractions %}
                        "{{ partition.nom }}",
                      {% endfor %}
                      {% endif %}
                    ]
                },
                options: {
                    responsive: true,
                    legend: {
                        position: 'top'
                    },
                    title: {
                        display: true,
                        text: 'Etat des finances'
                    },
                    animation: {
                        animateScale: true,
                        animateRotate: true
                    }
                }
            };

            window.onload = function() {
                var ctx = document.getElementById("chart-area").getContext("2d");
                window.myDoughnut = new Chart(ctx, config);
            };




        </script>
        </div>
      </div>
      <style>
        .form-control-label
        {
          margin-left: 50px;
        }
        .col-form-legend
        {
          margin-left: 50px;
        }
        .form-control{
            margin-top: 20px;
            margin-left: 50px;
        }
        h3 {
          margin-top: 75px;
          margin-left: 50px;
        }
        .btn
        {
          margin-left: 50px;
        }
        .alert
        {
          margin-top: 30px;
        }
      </style>

        <div class="container">
          {% if error == "DBALException" %}
            <div class="alert alert-danger">
              Le montant ne peut être nul.
            </div>
          {% endif %}

          <h3> Entrer un nouveau mouvement </h3>
          <!-- Formulaire de création de mouvement-->
          {{ form_start(form) }}
          {{ form_widget(form) }}
          {{ form_end(form) }}

          <script>
            function itemChange() {
              list = document.getElementById('form_type');
              choix = list.options[list.selectedIndex].text;
              if (choix == "Rentrée")
              {
                document.getElementById('form_fraction').disabled=true;
                //location.reload();
              }
              else {
                document.getElementById('form_fraction').disabled=false;
              }
              //location.reload();
            }
          </script>

        </div>
    </div>
    <div>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">
              Mouvement
            </th>
            <th scope="col">
              Nom
            </th>
            <th scope="col">
              Montant
            </th>
            <th scope="col">
              Date
            </th>
            <th scope="col">
              Partition
            </th>
            <th scope="col">
              Type
            </th>
          </tr>
        </thead>
        <tbody>
          {% for mouvement in mouvements %}
            {% for mouv in mouvement %}
              <tr>
                <td scope="row">
                  {{ mouv.id }}
                </td>
                <td scope="row">
                  {{ mouv.nom }}
                </td>
                <td scope="row">
                  {{ mouv.montant }}
                </td>
                <td scope="row">
                  {{ mouv.date|date("d/m/Y") }}
                </td>
                <td scope="row">
                  {{ mouv.fraction.nom }}
                </td>
                <td scope="row">
                  {{ mouv.type }}
                </td>
              </tr>
            {% endfor %}
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endblock %}

</div>
</body>
<footer>
    <footer class="sticky-footer">
        <div class="container">
            <div class="text-center">
                <small>Moneytoring - Groupe projet 6 - IUT de Pau et des pays de l'Adour</small>
            </div>
        </div>
    </footer>

    <script src="{{ asset('jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('jquery-easing/jquery.easing.min.js') }}"></script>
    <script src="{{ asset('js/sb-admin.min.js') }}"></script>
</footer>

{% endif %}

</html>
