{% extends '@Application/Default/index.html.twig' %}

{% block title %}
    <title>Moneytoring - Partition</title>
{% endblock %}

{% block link %}
    <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Accueil">
            <a class="nav-link" href="{{ path('application_homepage') }}">
                <i class="fa fa-fw fa-home"></i>
                <span class="nav-link-text">Accueil</span>
            </a>
        </li>
        <li class="nav-item active" data-toggle="tooltip" data-placement="right" title="Partionner">
            <a class="nav-link" href="{{ path('partition') }}">
                <i class="fa fa-fw fa-eye"></i>
                <span class="nav-link-text"><b>Partitionner</b></span>
            </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Simulateur">
            <a class="nav-link" href="{{ path('simulation') }}">
                <i class="fa fa-fw fa-area-chart"></i>
                <span class="nav-link-text">Simulateur</span>
            </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Modifier mouvement">
            <a class="nav-link" href="{{ path('modifierMouvement') }}">
                <i class="fa fa-fw fa-table"></i>
                <span class="nav-link-text">Modifier mouvement</span>
            </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Aide">
            <a class="nav-link" href="{{ path('aide') }}">
                <i class="fa fa-fw fa-coffee"></i>
                <span class="nav-link-text">Aide</span>
            </a>
        </li>
    </ul>
{% endblock %}

{% block body %}

  <style>

    h3 {
      margin-top: 30px;
      margin-bottom: 40px;
    }
    .form-control-label {
        margin-right: 30px;
    }
    .col-form-legend {
        margin-right: 30px;
    }
    .form-control{
        margin-right: 30px;
    }
    .btn {
        margin-left: 30px;
    }
  </style>

    <div class="container-fluid">

  {% if error == "ConstraintViolationException" %}
    <div class="alert alert-danger">
      Erreur : Nom de partition déja attribué.
    </div>
  {% elseif error == "succeed" %}
    <div class="alert alert-success">
      Partition créée avec succès.
    </div>
  {% endif %}



<div class="row">

    <div class="col-sm-5" style="margin-top: 30px">
        <h3>Créer une nouvelle partition</h3>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>

    <div class="col-sm-7" style="margin-top: 60px" id="tableScroll">
        <table class="table table-striped">
            <thead class="thead-dark" id="headScroll" style="text-align: center">
                <tr>
                    <th scope="col">
                        ID
                    </th>
                    <th scope="col">
                        Nom
                    </th>
                    <th scope="col">
                        Montant
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for partition in fractions %}
                        <tr>
                            <td scope="row">
                                {{ partition.id }}
                            </td>
                            <td scope="row">
                                {{ partition.nom }}
                            </td>
                            <td scope="row">
                                {{ partition.couleur }}
                            </td>
                        </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</div>

{% endblock %}
