{% extends '@Application/Default/index.html.twig' %}

{% block title %}
    <title>Moneytoring - Simulation</title>
{% endblock %}

{% block link %}
    <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Accueil">
            <a class="nav-link" href="{{ path('application_homepage') }}">
                <i class="fa fa-fw fa-home"></i>
                <span class="nav-link-text">Accueil</span>
            </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Partionner">
            <a class="nav-link" href="{{ path('partition') }}">
                <i class="fa fa-fw fa-eye"></i>
                <span class="nav-link-text">Partitionner</span>
            </a>
        </li>
        <li class="nav-item active" data-toggle="tooltip" data-placement="right" title="Simulateur">
            <a class="nav-link" href="{{ path('simulation') }}">
                <i class="fa fa-fw fa-area-chart"></i>
                <span class="nav-link-text"><b>Simulateur</b></span>
            </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Modifier mouvement">
            <a class="nav-link" href="{{ path('modifierMouvement') }}">
                <i class="fa fa-fw fa-table"></i>
                <span class="nav-link-text">Modifier mouvement</span>
            </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Aide">
            <a class="nav-link" href="{{ path('aide') }}">
                <i class="fa fa-fw fa-coffee"></i>
                <span class="nav-link-text">Aide</span>
            </a>
        </li>
    </ul>
{% endblock %}

{% block body %}

    <style>
        .progress{
            margin-top: 10px;
            height : 40px;
        }
        h3{
            margin-top: 50px;
        }
        #tableScroll2{
            height: 200px;
            overflow: auto;
            margin-bottom: 20px;
        }
        #headScroll2{
            position: page;
            width: 100%;
        }
    </style>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <h3>Visualisation</h3><br>
      {% if msg == "MontantTooHigh" %}
        <div class="alert alert-danger">
          Budget Depasse
        </div>
      {% endif %}
      <h4>Situation en cours :</h4>

      <div class="progress" id="progress1">
        {% for partition in fractions %}
          <div class="progress-bar" role="progressbar" style="width:{{ partition.montant }}%; background-color:{{ partition.couleur }}">
            {{ partition.nom }} : {{ partition.montant }}€
          </div>
        {% endfor %}
        <div class="progress-bar" role="progressbar" style="width:{{ budgetRestant }}%; background-color:gray">
          "Restant" : {{ budgetRestant }}€
        </div>
      </div>
      <h4 id="titreAvecProjet" style="margin-top: 20px">Situation avec projet :</h4>

      <div class="progress" id="progress2" style="margin-top: 20px">
        {% for partition in fractionsSimu %}
          <div class="progress-bar" role="progressbar" style="width:{{ partition.montant }}%; background-color:{{ partition.couleur }}">
            {{ partition.nom }} - {{ partition.montant }}€
          </div>
        {% endfor %}

            {% if projetSelectionne is not null %}
              <div class="progress-bar" role="progressbar" style="width:{{ projetSelectionne.nom.montant }}%; background-color:green">
                {{ projetSelectionne.nom.nom }} - {{ projetSelectionne.nom.montant }}€
              </div>
            {% endif %}
            <div class="progress-bar" role="progressbar" style="width:{{ budgetRestant }}%; background-color:gray">
              "Restant" : {{ budgetRestant }}€
            </div>
      </div>
      <h3> Montant à économiser : </h3>
      <div class="col-sm-12" style="margin-left : 20px">
        {% for eco in economie %}
          {{ eco }} € à économiser. <br>
        {% endfor %}
      </div>
    </div>
    <div class="col-sm-6">

      <h3>Projets de dépenses</h3><br>

      <!--PROGRAMMATION DU PROJET -->
      {{ form_start(formProgrammer) }}
      {{ form_widget(formProgrammer) }}
      {{ form_end(formProgrammer) }}

      <div id="tableScroll2">
        <table class="table table-striped">
          <thead class="thead-dark" id="headScroll2">
            <tr>
              <th scope="col">
                Nom
              </th>
              <th scope="col">
                Date de début
              </th>
              <th scope="col">
                Date de fin
              </th>
              <th scope="col">
                Montant
              </th>
            </tr>
          </thead>
          <tbody>
              {% for projet in projets %}
                <tr>
                  <td scope="row">
                    {{ projet.nom }}
                  </td>
                  <td scope="row">
                    {{ projet.dateDebut|date("d/m/Y") }}
                  </td>
                  <td scope="row">
                    {{ projet.dateFin|date("d/m/Y") }}
                  </td>
                  <td scope="row">
                    {{ projet.montant }}€
                  </td>
                </tr>
              {% endfor %}
          </tbody>
        </table>
      </div>

      </div>


    </div>
  </div>
</div>
<h3>Créer un nouveau projet : </h3>
<div class="container">
  {{ form_start(formCreationProjet) }}
  {{ form_widget(formCreationProjet) }}
  {{ form_end(formCreationProjet) }}
</div>

{% endblock %}
